.page-title-box {
  margin-top: 56px;
}
  .page-desc {}
  .title-page {
    margin-left: 2px;
    @include font(900, $font-size-h1, $font-heading, $line-height-heading);
    letter-spacing: 3px;
    color: $white;
  }

.section-faqs {
  padding-top: 62px;
  padding-bottom: 140px;
  .container {
    max-width: 1164px;
  }
}
  .container-box {
    max-width: 782px;
  }
    .accordion-list {
      > li {
        position: relative;
        border-bottom: 1px solid $color-heading;
        @include transition($duration);
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
        h2 {
          position: relative;
          padding: 23px 35px 17px 0;
          color: $color-heading;
          @include font(900, 28px, $font-heading, $line-height-heading);
          letter-spacing: 0.75px;
          @include transition($duration);
          cursor: pointer;
          &:after {
            position: absolute;
            content: '\f107';
            font-family: 'FontAwesome';
            font-size: 42px;
            color: #005aff;
            right: -1px;
            top: 50%;
            @include transition($duration);
            @include css3-prefix('transform-origin', '50%');
            @include css3-prefix('transform', 'translateY(-50%)');
          }
          &.active {
            &:after {
              top: 12px;
              @include css3-prefix('transform', 'rotate(-180deg)');
            }
          }
        }
      }
    }
        .accordion-box-content {
          display: none;
          color: $color-text;
          margin-top: -12px;
          padding: 0 80px 15px 2px;
          @include font(400, 18px, $font-main, $line-height);
          letter-spacing: 0.5px;
          word-spacing: 0.2px;
          > * {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          ul {
            margin-left: 20px;
            li {
              list-style-type: decimal;
            }
          }
          ol {
            margin-left: 20px;
            li {
              list-style-type: disc;
            }
          }
          li {
            margin-bottom: 5px;
          }
        }
