.section-fireworks,
.section-blockquote {
  .container {
    max-width: 1164px;
  }
  .container-box {
    max-width: 796px;
  }
}

.section-fireworks {
  padding-top: 71px;
  padding-bottom: 79px;
}

.section-blockquote {
  padding-top: 82px;
  padding-bottom: 70px;
}
  .blockquote-list {
    text-align: center;
    margin: 0 -15px -47px;
    > li {
      display: inline-block;
      width: 49%;
      padding: 0 15px;
      margin-bottom: 47px;
      vertical-align: top;
    }
  }
    .blockquote-box {
      margin: 0 auto;
      max-width: 340px;
    }
      .blockquote-content {
        font-family: $font-georgia;
        font-style: italic;
        letter-spacing: 0.2px;
        line-height: 1.6;
      }
      .blockquote-author {
        display: block;
        font-size: 12px;
        margin-top: 9px;
        letter-spacing: 0.1px;
      }