.weather-alert {
  padding-top: 16px;
  padding-bottom: 18px;
  text-align: center;
  @include font(400, 30px, $font-main, 1.25);
  color: #323232;
  background-color: $bg-color-yellow;
  p {
    letter-spacing: 0.3px;
    strong {
      padding-right: 13px;
      font-family: $font-heading;
      font-weight: 900;
    }
  }
}

.hero {
  position: relative;
  padding-bottom: 49px;
  @include bg(top center, contain, no-repeat);
  background-color: #000;
  &:after {
    position: absolute;
    z-index: 30;
    content: '';
    width: 100%;
    height: 91px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../img/transition_white_v2.png);
    @include bg(top center, cover, no-repeat);
  }
}
.container {
  &.hero-top {
    max-width: 1168px;
  }
}
  .hero-info-wrap {
    float: right;
    display: table;
    max-width: 520px;
    min-height: 490px;
    width: 100%;
  }
  .hero-info-box {
    display: table-cell;
    width: 100%;
    min-height: 100px;
    vertical-align: bottom;
  }
  .hero-box {
    padding: 40px 30px 46px 45px;
    background-color: rgba(0, 1, 197, 0.83);
  }
  .hero-box-btn {
    float: left;
    max-width: 186px;
    margin-right: 21px;
    a {
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    a.btn, .btn {
      padding: 7px 13px 4px;
      font-weight: 800;
      font-size: 20px;
      text-transform: none;
      text-align: right;
      letter-spacing: 0.3px;
      @include border-radius(0);
      &.small {
        float: right;
        max-width: 167px;
      }
    }
  }
  .hero-box-text {
    overflow: hidden;
    position: relative;
    top: 9px;
    @include font(500, 17.58px, $font-heading, $line-height);
    color: $white;
    letter-spacing: 0.5px;
    * {
      margin-bottom: 6px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .pm {
      font-size: 12px;
    }
  }
  .hero-box-info {
    display: inline-block;
    margin-top: -7px;
    @include font(400, 14px, $font-main, $line-height);
    letter-spacing: 0.7px;
  }

  .hero-title {
    position: relative;
    display: inline-block;
    margin-top: 101px;
    margin-bottom: 150px;
    margin-left: 73px;
    &:after {
      position: absolute;
      z-index: 1;
      content: '';
      width: 583px;
      height: 498px;
      top: -108px;
      left: -156px;
      @include bg(center, cover, no-repeat);
      //background-image: url(../../img/hero_home_bg.png);
    }
    h1 {
      position: relative;
      z-index: 10;
      @include font(900, 58.35px, $font-heading, 1);
      letter-spacing: 1.2px;
      color: $white;
      > span {
        position: relative;
        display: block;
        margin-bottom: 34px;
        letter-spacing: 0.95px;
        > span {
          position: relative;
          z-index: 50;
        }
        &:before {
          position: absolute;
          content: '';
          @include bg(center, contain, no-repeat);
        }
        &.blue_bg {

          &:before {
            left: -76px;
            top: -26px;
            z-index: 10;
            width: 517px;
            height: 119px;
            background-image: url(../../img/top-watercolor.png);
          }
        }
        &.red_bg {
          margin-left: -3px;
          margin-bottom: 37px;
          letter-spacing: 0.65px;
          &:before {
            left: -153px;
            top: -25px;
            z-index: 20;
            width: 503px;
            height: 115px;
            background-image: url(../../img/middle-watercolor.png);
          }
        }
        &.grey_bg {
          margin-left: -1px;
          font-size: 18.25px;
          &:before {
            left: -70px;
            top: -40px;
            z-index: 10;
            width: 383px;
            height: 89px;
            background-image: url(../../img/bottom-watercolor.png);
          }
        }
      }
    }
  }

  .hero-bottom-wrap {
    &.container {
      max-width: 1076px;
    }
  }
  .video-box {
    position: relative;
    z-index: 20;
    float: left;
    display: block;
    max-width: 267px;
    margin-top: 11px;
    margin-left: 30px;
    left: -9px;
    cursor: pointer;
    &:after {
      position: absolute;
      z-index: 100;
      opacity: 0;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      @include transition($duration);
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    @include css3-prefix('transform', 'rotate(-8.6deg)');
    img {
      max-width: 100%;
      height: auto;
    }
  }

  /* overlay at start */
  .mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }

  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }

  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }

  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1; }

  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0; }



.experience-box {
    position: relative;
    z-index: 40;
    overflow: hidden;
    max-width: 400px;
    padding: 45px 10px 9px 41px;;
    @include font(200, 14px, $font-heading, 1.6);
    letter-spacing: 0.3px;
    opacity: 0.45;
    color: $white;
  }
  .experience-title {
    margin-bottom: 7px;
    @include font(900, $font-size, $font-heading, $line-height-heading);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .facebook-box {
    position: relative;
    z-index: 40;
    float: right;
    max-width: 216px;
    width: 100%;
    margin-top: 48px;
    > ul {
      > li {
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          position: relative;
          display: inline-block;
          min-height: 38px;
          padding: 6px 40px 5px 15px;
          letter-spacing: 0.3px;
          width: 100%;
          color: $white;
          text-decoration: none;
          &:hover {
            color: #606060;
          }
          @include font(200, 14px, $font-heading, 1.6);
          border: 1px solid #606060;
          img {
            position: relative;
            bottom: -5px;
            left: -4px;
            max-width: 24px;
            height: auto;
          }
        }
      }
    }
  }
  .icon-box {
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #606060;
    cursor: pointer;
    .fa {
      vertical-align: middle;
      color: #000;
      font-size: 22px;
    }
  }

  .section-plan {
    overflow: hidden;
    position: relative;
    z-index: 20;
    padding-top: 48px;
    padding-bottom: 50px;
    background-color: $white;
    .container {
      max-width: 1600px;
    }
  }
  .title {
    @include font(900, $font-size-h1, $font-heading, $line-height-heading);
    color: $color-heading;
    &.home-subtitle {
      margin-bottom: 2px;
      font-size: $font-size-h2;
      letter-spacing: -0.5px;
      .section-plan & {
        text-align: center;
        margin-bottom: 50px;
      }
    }
    &.home-title {
      margin-bottom: 24px;
      font-size: 38px;
      letter-spacing: 0.7px;
    }
  }
  .plan-list {
    margin-top: 140px;
    text-align: center;
    > li {
      display: inline-block;
      margin-bottom: 90px;
      padding: 0 10px;
      width: 24%;
      vertical-align: top;
      .plan-box {
        position: relative;
        * {
          position: relative;
          z-index: 100;
        }
        &:before {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          @include css3-prefix('transform', ' translate(-50%, -50%)');
          @include bg(center, contain, no-repeat);
        }
        a.btn, .btn {
          max-width: 192px;
          margin-top: 27px;
          font-size: 14.47px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
      &:nth-child(4n+1) .plan-box {
        &:before {
          z-index: 10;
          width: 517px;
          height: 371px;
          background-image: url(../../img/watercolor-001.png);
        }
      }
      &:nth-child(4n+2) .plan-box {
        &:before {
          z-index: 20;
          width: 467px;
          height: 349px;
          background-image: url(../../img/watercolor-002.png);
        }
      }
      &:nth-child(4n+3) .plan-box {
        &:before {
          z-index: 30;
          width: 551px;
          height: 356px;
          background-image: url(../../img/watercolor-003.png);
        }
      }
      &:nth-child(4n+4) .plan-box {
        &:before {
          z-index: 40;
          width: 487px;
          height: 377px;
          background-image: url(../../img/watercolor-004.png);
        }
      }
    }
  }
  .plan-box {
    max-width: 260px;
    margin: 0 auto;
    @include font(900, 14.47px, $font-main, $line-height);
    letter-spacing: 0.4px;
    text-align: center;
    color: $white
  }
  .title-plan  {
    margin-bottom: 5px;
    @include font(900, 23.53px, $font-heading, $line-height-heading);
  }
  .section-questions {
    position: relative;
    margin-top: 38px;
    padding-top: 40px;
    padding-bottom: 121px;
    background-color: $bg-color-grey;
    .container {
      overflow: hidden;
      max-width: 1300px;
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 38px;
      left: 0;
      right: 0;
      top: -38px;
      background-image: url(../../img/transition_grey.png);
      @include bg(bottom center, cover, no-repeat);
    }
  }
  .half-box {
    .home-title {
      margin-left: 8px;
    }
    .title.home-subtitle {
      margin-bottom: 0;
      letter-spacing: -0.3px;
    }
    &.right {
      float: right;
      max-width: 400px;
      margin-top: 17px;
      width: 100%;
      a.btn, .btn {
        margin-top: 4px;
      }
    }
  }
  .icons-list {
    img {
      max-width: 352.5px;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .pet-box {
    margin-top: 44px;
    margin-left: 8px;
  }
  .pet-img {
    display: inline-block;
    max-width: 50px;
    margin-right: 26px;
    padding-top: 1px;
    vertical-align: top;
  }
  .pet-box-text {
    display: inline-block;
    vertical-align: top;
    max-width: 560px;
    @include font(400, $font-size, $font-main, $line-height);
    letter-spacing: 0.55px;
    color: #808080;
  }
  .pet-box-title {
    margin-bottom: 4px;
    @include font(900, 20px, $font-heading, $line-height-heading);
    letter-spacing: 0.6px;
  }

  .question-box {
    letter-spacing: 0.55px;
    line-height: 1.6;
    margin-bottom: 30px;
  }


  .section-facebook {

  }
  a.fb-invite-link {
    display: block;
    width: 100%;
    min-height: 70px;
    color: $white;
    text-align: center;
    border-top: 2px solid #fff;
    background-color: #545454;
    p {
      display: none;
    }
    .fa {
      padding-top: 18px;
      font-size: 32px;
      color: #fff;
    }
    &:hover {
      background-color: #424141;
    }
  }

  .facebook-list {
    overflow: hidden;
    > li {
      float: left;
      position: relative;
      width: 16.666%;
      padding-bottom: 16.666%;
      &:nth-child(6n+1) {
        clear: both;
      }
    }
  }
  .facebook-img-box {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    &:before {
      position: absolute;
      opacity: 0;
      z-index: 105;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      @include transition($duration);
    }
    img {
      position: absolute;
      z-index: 100;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      @include css3-prefix('transform', 'translate(-50%, -50%) scale(1)');
      @include css3-prefix('transition-duration', '0.35s');
    }
    &:hover {
      img {
        @include css3-prefix('transform', 'translate(-50%, -50%) scale(1.5)');
      }
      .facebook-hover-text {
        opacity: 1;
      }
      &:before {
        opacity: 1;
      }
    }
  }
  .facebook-hover-text {
    position: absolute;
    opacity: 0;
    z-index: 110;
    display: block;
    width: calc(100% - 20px);
    top: 50%;
    left: 50%;
    text-align: center;
    color: #101010;
    @include font(400, $font-size, $font-heading, $line-height);
    @include css3-prefix('transform', 'translate(-50%, -50%)');
    @include transition($duration);
  }

