/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; @include font(); background: $bg-color; color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
  padding:0;
  margin:0;
  list-style:none;
}
select, input, textarea        { font-size:$font-size; vertical-align:middle; color:$color-text; }
textarea                       { vertical-align:top; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-family: $font-main; color: $color-heading; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
  @include css3-prefix('box-sizing', 'border-box');
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: 700;
}
a, .btn {
  @include transition($duration-link);
}
img {
  @include css3-prefix('user-select', 'none');
}
.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  * {
    margin-bottom: 12px;
    line-height: $line-height;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    & > li {
      list-style-type: disc;
    }
  }
  ol {
    & > li {
      list-style-type: decimal;
    }
  }
  li {
    margin-bottom: 12px;
    text-align: left;
  }
  blockquote {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  img {
    max-width: 100%;
    height: auto;
    &.alignleft {
      float: left;
      margin: 4px 12px 12px 0;
    }
    &.alignright {
      float: right;
      margin: 4px 0 12px 12px;
    }
    &.aligncenter{
      display: block;
      margin: 0 auto 12px;
      clear: both;
    }
  }
}
a.btn-play,
.btn-play {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    margin-left: -7px;
    margin-top: -2px;
    width: 78px;
    height: 78px;
    @include border-radius(50%);
    top: 50%;
    left: 50%;
    @include css3-prefix('transform', ' translate(-50%, -50%)');
    border: 2px solid $white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:after {
    width: 0;
    height: 0;
    margin-left: -7px;
    border-top: 12px solid transparent;
    border-left: 14px solid white;
    border-bottom: 12px solid transparent;
    left: 50%;
    top: 50%;
    @include css3-prefix('transform', 'rotate(8.6deg) translate(-50%, -50%)');
  }
}
