.top-navbar {
  .container {
    max-width: 1170px;
  }

}
.top-nav {
  &.disable {
    display: none;
  }
  overflow: hidden;
  padding-left: 29px;
  .inner-nav & {
    padding-left: 0;
    ul {
      //display: table;
      width: 100%;
      margin: 0 -30px;
      //table-layout: fixed;
      > li {
        //display: table-cell;
        //text-align: center;
        a {
          width: 100%;
          padding: 10px 30px 10px;
          @include font(800, $font-size, $font-heading, $line-height-heading);
          letter-spacing: 2.1px;
          color: $white;
          &:hover {
            color: $color-nav-small;
          }
        }
      }
    }
  }
  > ul {
    > li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 10px 16px 10px;
        text-transform: uppercase;
        @include font(400, $font-size-sm,$font-reserve, $line-height-heading);
        text-decoration: none;
        color: $color-nav-small;
      }
    }
  }
}

.top-nav li.active a,
.top-nav li a:hover {
  color: $white
}


.nav {
  .container {
    max-width: 1420px;
  }
  ul {
    position: relative;
    z-index: 10;
    margin: 0 94px;
    text-align: center;
    background-color: rgba(0, 1, 197, 1);
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 0;
      width: 94px;
      height: 100%;
      @include bg();
    }
    &:before {
      left: -94px;
      background-image: url(../../img/hero_nav_bg_l.png);
    }
    &:after {
      right: -94px;
      background-image: url(../../img/hero_nav_bg_r.png);
    }
    > li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        right: -2px;
        top: 0;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
      a {
        display: inline-block;
        padding: 22px 58px 24px;
        @include font(900, 26px, $font-heading, $line-height-heading);
        color: $white;
        letter-spacing: 0.6px;
        text-decoration: none;
        //&:hover {
        //  background-color: rgba(2, 2, 138, 0.8);
        //}
      }
    }
  }
}

.nav li.active a,
.nav li a:hover {
  background-color: rgba(2, 2, 138, 0.8);
}


.mobile-menu {
  padding-bottom: 5px;
  > li {
    position: relative;
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      @include font(900, 18px, $font-heading, $line-height-heading);
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 25px 13px;
    }
  }
}