/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 992px) {
  //.logo-mobile {
  //  display: block;
  //}
}

@media all and (max-width: 1400px) {
  .nav {
    ul {
      > li {
        a {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  }
}

@media all and (max-width: 1280px) {
  ///!!!!!!
  .half-box {
    max-width: 400px;
  }
  .icons-list {
    img {
      max-width: 100%;
    }
  }
  .pet-img {
    float: left;
  }
  .pet-box-text {
    overflow: hidden;
    display: block;
  }
  .hero-title {
    padding-left: 103px;
  }
  .nav {
    .container {
      overflow: hidden;
      padding: 0;
    }
    ul {
      margin: 0;
      > li {
        a {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .section-plan {
    .plan-bg {
      top: 70px;
      background-image: url(../../img/desktop2.png);
    }
  }
  .plan-list {
    > li {
      width: 34%;
    }
  }
  .top-nav {
    .inner-nav & {
      ul {
        margin: 0 -18px;
        > li {
          a {
            padding: 10px 18px 4px;
            letter-spacing: 1px;
            &:after {
              width: calc(100% - 36px);
              left: 18px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1080px) {
  .container.hero-top {
    padding: 0;
  }
  .hero-title {
    padding-top: 60px;
    padding-left: 160px;
  }

}

@media all and (max-width: 1024px) {
//!!!!

}

@media all and (max-width: 991px) {
  .section-plan .plan-bg {
    display: none;
  }
  .wrapper {
    padding-top: 66px;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .mobile-menu-wrap,
  .mobile-menu-toggle {
    display: block;
  }
  .top-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .logo {
    max-width: 201.5px;
    float: none;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 66px;
  }
  .top-nav {
    display: none;
  }
  .hero {
    background-size: cover;
  }
  .facebook-list {
    > li {
      width: 25%;
      padding-bottom: 25%;
      &:nth-child(6n+1) {
        clear: none;
      }
      &:nth-child(4n+1) {
        clear: both;
      }
    }
  }

  .half-box.right a.btn,
  .half-box.right .btn {
    display: none;
  }
  .pet-box {
    margin-top: 32px;
  }
  .pet-img {
    margin-right: 16px;
  }
  .section-questions {
    padding-bottom: 61px;
  }

  .title {
    &.home-title {
      margin-bottom: 14px;
      font-size: 17px;
      .half-box & {
        text-transform: uppercase;
        margin-left: 0;
      }
    }
    &.home-subtitle {
      font-size: 17px;
      .section-plan & {
        margin-bottom: 16px;
        color: $white;
        letter-spacing: 1.4px;
      }
    }
  }
  .section-plan .title.home-subtitle {
    max-width: 290px;
    margin: 0 auto 16px;
    text-align: left;
  }
  .pet-box-title {
    margin-bottom: 1px;
    font-size: 16px;
  }
  .question-box {
    margin-bottom: 22px;
    font-size: 14px;
  }
  .pet-box-text {
    font-size: 14px;
  }
  .weather-alert {
    padding-top: 28px;
    font-size: 18px;
    p {
      strong {
        display: inline-block;
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .hero-info-wrap,
  .hero-title {
    display: block;
    width: 100%;
  }
    .hero-info-box {
      float: none;
      max-width: 530px;
      margin: 0 auto;
    }
      .hero-box {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
        .hero-info-list {
          > li {
            margin-bottom: 12px;
          }
        }
          .hero-box-text {
            padding-top: 8px;
            * {
              margin-bottom: 4px;
            }
            .pm {
              font-size: 9px;
            }
          }
          .hero-box-btn {
            width: 180px;
            padding: 0 17px 0 2px;
          }
  .container.hero-top {
    overflow: hidden;
    min-height: 100px;
  }
  .hero-title {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 42px;
    padding-left: 0;
    max-width: 175px;
    h1 {
      font-size: 37px;
      > span {
        letter-spacing: 0.6px;
        margin-bottom: 21px;
        &.blue_bg {
          &:before {
            left: -142px;
            top: -16px;
            width: 517px;
            height: 75px;
          }
        }
        &.red_bg {
          margin-left: -1px;
          margin-bottom: 26px;
          letter-spacing: 0.2px;
          &:before {
            left: -190px;
            top: -16px;
            width: 503px;
            height: 71px;
          }
        }
        &.grey_bg {
          margin-left: -2px;
          font-size: 11.5px;
          letter-spacing: 0.8px;
          &:before {
            left: -102px;
            top: -31px;
            width: 383px;
            height: 62px;
          }
        }
      }
    }
  }
  .hero-box-btn {
    a.btn,
    .btn {
      font-size: 17px;
      padding-top: 5px;
      padding-bottom: 5px;
      &.small {
        max-width: 144px;
      }
    }
  }
  .hero-box-text {
    font-size: 15px;
  }
  .hero-box-info {
    margin-top: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .section-plan {
    margin-top: 50px;
    padding-bottom: 100px;
    background-image: url(../../img/mobile.png);
    @include bg(top center, contain, no-repeat);
  }
  .plan-list {
    display: none;
  }
  .plan-list-mob {
    display: block;
  }

  .accordion-list {
    > li {
      h2 {
        font-size: 17px;
        &:after {
          font-size: 30px;
        }
      }
    }
  }
  .accordion-box-content {
    padding-right: 50px;
    font-size: 14px;
    > * {
      margin-bottom: 12px;

    }
  }
  .inner-nav {
    padding-bottom: 28px;
  }
  .title-page {
    font-size: 34px;
    letter-spacing: 1px;
  }
  .page-title-box {
    margin-top: 0;
    margin-left: 18px;
  }
  .section-faqs {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  .nav {
    ul {
      > li {
        a {
          font-size: 17px;
        }
      }
    }
  }
  .content {
    * {
      margin-bottom: 29px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h2 {
      font-size: 17px;
    }
  }
  .section-fireworks {
    padding-top: 39px;
    padding-bottom: 39px;
  }
  .section-blockquote {
    padding-top: 40px;
  }
  .blockquote-content {
    font-size: 14px;
  }
  .title.subtitle {
    font-size: 17px;
  }
  .event-date-box {
    width: 78px;
    padding: 7px 5px 7px;
    margin-right: 20px;
    margin-top: 6px;
    .schedule & {
      width: 90px;
      min-height: 56px;
      padding: 7px 5px 7px;
      margin-right: 20px;
      margin-top: 6px;
    }
  }

  .event-wrap {
    padding-top: 0;
    .fa-map-marker {
      position: relative;
      bottom: -2px;
      font-size: 22px;
    }
  }
  .event-date {
    font-size: 15px;
    span {
      font-size: 8px;
    }
    .schedule & {
      font-size: 15px;
      span {
        font-size: 8px;
        &.to {
          font-size: 8px;
        }
      }
    }
  }
  .event-name {
    font-size: 18px;
  }
  .event-location {
    font-size: 18px;
  }
  .event-content {
    max-width: 420px;
    font-size: 14px;
    > * {
      margin-bottom: 8px;
    }
  }
  a.see-full,
  .see-full {
    font-size: 12px;
    font-weight: 200;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
  }
  .select2-results__option {
    font-size: 12px;
  }
  .select2-container {
    max-width: 158px;
  }
  .select2-container--default .select2-selection--single {
    border-bottom-width: 2px ;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 22px;
    top: 0;
    right: 0;
    width: 22px;
    &:after {
      font-size: 24px;
      top: 9px;
      right: -1px;
    }
  }
  .section-all-day {
    padding-top: 16px;
  }
  .select-box {
    padding-bottom: 26px;
    margin-bottom: 28px;
    .schedule & {
      padding-bottom: 26px;
    }
  }
  .see-mob {
    display: inline-block;
  }
  .see-desktop {
    display: none;
  }
  .select2-results__option {
    padding-left: 16px;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    padding-left: 22px;
  }
  .select2-container--open .select2-dropdown--below {
    padding-top: 5px;
    padding-bottom: 11px;
  }
  .see-more {
    margin-top: 50px;
    .title.subtitle {
      font-size: 18px;
    }
  }
  .select-box {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: calc( 100% + 40px);
      height: 1px;
      left: -20px;
      bottom: 0;
      background-color: $bg-color-blue;
    }
  }
  .select-title {
    font-size: 12px;
  }
  .time-period {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .schedule .event-list {
    margin-bottom: 46px;
  }
  .eat-item-title {
    font-size: 17px;
  }
  .eat-list > li a {
    font-size: 15px;
    .fa-map-marker {
      font-size: 24px;
    }
  }
  .eat-box-content {
    font-size: 14px;
  }
  .eat-title {
    font-size: 15px;
  }
  .eat-bottom-box {
    font-size: 12px;
  }
  .section-food-drink {
    padding-top: 36px;
  }
  .eat-item .fa-map-marker {
    font-size: 26px;
  }
  .sponsor-info,
  .sponsor-list {
    font-size: 14px;
  }
  .sidebar {
    margin-right: 46px;
    a.btn, .btn {
      font-size: 16px;
    }
    .description {
      padding-top: 4px;
      font-size: 14px;
    }
  }
  .sponsor-list {
    margin-bottom: 40px;
  }
  .content ul > li:before {
    width: 4px;
    height: 4px;
    left: 10px;
    top: 8px;
  }
}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {
  .container.hero-bottom-wrap {
    overflow: hidden;
  }
  .experience-box {
    float: right;
  }

  .facebook-box {
    max-width: 360px;
  }
  .sidebar {
    float: none;
    margin: 0 auto 30px;
  }
  .section-sponsors {
    padding-top: 37px;
  }
}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {
//!!!!
  .half-box.right {
    max-width: 350px;
  }
}

@media all and (max-width: 767px) {
  .nav .container {
    position: relative;
    z-index: 1000;
  }
  .section-plan {
    margin-top: 0;
  }
  .nav {
    padding-bottom: 20px;
    background-color: rgba(2, 2, 138, 0.8);
    ul {
      background-color: rgba(2, 2, 138, 0);
      > li {
        a {
          position: relative;
          z-index: 100;
          font-size: 17px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .hero & {
      position: relative;
      &:after {
        position: absolute;
        z-index: 30;
        content: '';
        width: 100%;
        height: 91px;
        left: 0;
        right: 0;
        bottom: -1px;
        background-image: url(../../img/transition_white_v2.png);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  .hero {
    background-color: $white;
    &:after {
      background-color: #FFFFFF;
      background-image: none;
      height: 50px;
    }
  }
  .container.hero-bottom-wrap {
    background-color: $white;
  }
  .facebook-list {
    display: none;
  }
  .hero-bottom {
    display: table;
    width: 267px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .facebook-box {
    display: table-header-group;
    > ul {
      > li {
        a {
          color: #5d5d5d;
        }
      }
    }
  }
  .experience-box {
    padding: 40px 0 40px;
    display: table-cell;
    color: #5d5d5d;
    opacity: 1;
  }
  .video-box {
    display: table-footer-group;
  }
  a.fb-invite-link {
    padding-bottom: 50px;
    p {
      display: block;
    }
    .fa {
      padding-top: 37px;
      font-size: 36px;
    }
  }
  .nav {
    ul {
      position: relative;
      //background-color: rgba(0, 1, 197, 0.8);
      &:after {
        position: absolute;
        content: '';
        width: calc(100% + 4px);
        height: 1px;
        left: -2px;
        right: auto;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        background-image: none;
      }
      > li {
       width: 49%;
        &:after {
          content: none;
        }
        a {
          width: 100%;
        }
      }
    }
  }
  .video-box {
    float: none;
    margin: 40px auto 0;
    left: 0;
    @include css3-prefix('transform', 'rotate(0)');
  }
  a.btn-play,
  .btn-play {
    &:after {
      margin-left: auto;
      @include css3-prefix('transform', 'rotate(0) translate(-50%, -50%)');
    }
    &:before {
      margin-left: auto;
      margin-top: auto;
    }
  }
}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
  .half-box {
    margin: 0 auto;
    &.right{
      float: none;
      margin-bottom: 51px;
      max-width: 400px;
      padding-left: 0;
    }
  }
  .eat-wrap {
    margin: 0;
  }
    .eat-box {
      width: 100%;
      padding: 0;
      margin-bottom: 60px;
      padding-right: 30px;
    }
}

@media all and (max-width: 600px) {
  .event-date-box {
    width: 78px;
    padding: 7px 5px 7px;
    margin-right: 20px;
    margin-top: 4px;
  }
  .event-wrap {
    overflow: visible;
    position: relative;
    padding-top: 0;
    .fa-map-marker {
      position: absolute;
      bottom: auto;
      top: 0;
      right: 0;
      font-size: 36px;
    }
  }
  .event-header {
    overflow: hidden;
  }
  .event-list > li {
    margin-bottom: 9px;
  }
  .event-name {
    overflow: hidden;
    display: block;
    font-size: 18px;
    letter-spacing: 0.3px;
  }
  .event-location {
    overflow: hidden;
    display: block;
    margin-top: -4px;
    padding-left: 0;
    font-size: 15px;
    letter-spacing: 2px;
    &:before {
      content: none;
    }
  }
  .event-content {
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 20px;
    max-width: 100%;
    font-size: 14px;
    > * {
      margin-bottom: 8px;
    }
  }
  a.see-full, .see-full {
    max-width: 100px;
    float: right;
    margin-left: 10px;
    top: -3px
  }
  .schedule .event-date-box {
    margin-top: 4px;
  }
}

@media all and (max-width: 560px) {
  .section-plan {
    background-size: cover;
  }
  .blockquote-list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -37px;
    > li {
      width: 100%;
      padding: 0;
      margin-bottom: 37px;
    }
  }
}

@media all and (max-width: 480px) {
  .hero-box-btn {
    width: 150px;
    padding: 0 17px 0 0;
  }
  .hero-box {
    padding-left: 0;
    padding-right: 0;
  }
  .section-all-day {
    .container {
      padding: 0;
    }
  }
  .event-location,
  .event-name {
    padding-right: 60px;
  }
  .event-content {
    padding-right: 40px;
  }
  .event-wrap .fa-map-marker {
    right: 35px;
  }
  .select-box {
    padding-left: 40px;
    padding-right: 15px;
    .schedule & {
      padding-right: 40px;
    }
  }
  .see-more {
    padding: 0 40px 0;
    a.btn, .btn {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .select-box {
    &:after {
      width: 100%;
      left: 0;
      .schedule & {
        //width: calc( 100% + 80px);
        //left: -40px;
        width: 100%;
        left: 0;
      }
    }
  }
  .time-period {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-food-drink {
    .container {
      padding: 0;
    }
  }
}

@media all and (max-width: 420px) {
//!!!
  .accordion-box-content {
    padding-right: 25px;
  }
}

@media all and (max-width: 380px) {
}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {
  .select-box {
    padding-left: 20px;
    .schedule & {
      padding-right: 20px;
      //&:after {
      //  width: 100%;
      //  left: 0;
      //}
    }
  }
}