/*fonts*/
$font-reserve: 'Source Sans Pro';
$font-heading: 'Montserrat';
$font-main: 'ProgramOT-Book', $font-reserve, $font-heading, Arial, sans-serif;

/*fonts-size*/
$font-size: 18px;
$font-size-sm: 12px;
$font-size-lg: 26px;
$font-size-h1: 68px;
$font-size-h2: 28px;

/*line-height*/
$line-height: 1.4;
$line-height-heading: 1.25;

/*colors*/
$white: #ffffff;
$color-text: #5d5d5d;
$color-heading: #005aff;
$color-nav-small: #e49f9f;
$bg-color: $white;
$bg-color-grey: #f0f0f0;
$bg-color-red: #A31716;
$bg-color-yellow: #FFBA00;

/*transition*/
$duration: 0.35s;
$duration-link: 0.25s;
